<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="body-social-links">
    {% if author.email %}
      <a href="mailto:{{ author.email }}">
        <img src="/images/icons/email.svg" alt="Email" class="icon-pad-right" style="height:32px;">
      </a>
    {% endif %}
    {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}">
        <img src="/images/icons/google-scholar.svg" alt="Google Scholar" class="icon-pad-right" style="height:32px;">
      </a>
    {% endif %}
    {% if author.orcid %}
      <a href="{{ author.orcid }}">
        <img src="/images/icons/orcid.svg" alt="ORCID" class="icon-pad-right" style="height:32px;">
      </a>
    {% endif %}
    {% if author.researchgate %}
      <a href="{{ author.researchgate }}">
        <img src="/images/icons/researchgate.svg" alt="ResearchGate" class="icon-pad-right" style="height:32px;">
      </a>
    {% endif %}
    {% if author.scopus %}
      <a href="{{ author.scopus }}">
        <img src="/images/icons/scopus.svg" alt="Scopus" class="icon-pad-right" style="height:32px;">
      </a>
    {% endif %}
    {% if author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ author.linkedin }}">
        <img src="/images/icons/linkedin.svg" alt="LinkedIn" class="icon-pad-right" style="height:32px;">
      </a>
    {% endif %}
    {% if author.CV %}
      <a href="{{ author.CV }}">
        <img src="/images/icons/cv.svg" alt="CV" class="icon-pad-right" style="height:32px;">
      </a>
    {% endif %}

  </div>
</div>

<!-- end custom footer snippets -->
