---
layout: archive
title: ""
permalink: /research/
author_profile: false
sidebar:
  title: "Research"
  nav: 
    {% for item in site.data.research_nav %}
    - title: "{{ item.title }}"
      url: /research/#{{ item.slug }}
    {% endfor %}
---

{% include base_path %}

{% capture written_ResearchTag %}'None'{% endcapture %}

{% for post in site.portfolio %}
  {% capture ResearchTag %}{{ post.ResearchTag }}{% endcapture %}
  {% if ResearchTag != written_ResearchTag %}
    <h1 id="{{ ResearchTag | slugify }}" class="page__title">{{ ResearchTag }}</h1>
    {% capture written_ResearchTag %}{{ ResearchTag }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
