---
layout: archive
title: ""
permalink: /research/
author_profile: false
sidebar:
  title: "Research"
---

{% include base_path %}

{% capture written_ResearchTag %}'None'{% endcapture %}

{% for post in site.portfolio %}
  {% capture ResearchTag %}{{ post.ResearchTag }}{% endcapture %}
  {% if ResearchTag != written_ResearchTag %}
    <h1 id="{{ ResearchTag | slugify }}" class="page__title">{{ ResearchTag }}</h1>
    {% capture written_ResearchTag %}{{ ResearchTag }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

<div class="sidebar sticky"></div>
  {% include nav_list nav=site.data.research_nav %}
</div>