---
layout: archive
title: ""
permalink: /research/
author_profile: false
sidebar:
  - title: "Research"
  - text: "[Stress heterogeneity](https://spchai.github.io/research/#stress-heterogeneity-on-faults) </br> [Planetary science](https://spchai.github.io/research/#planetary-science)"
---

{% include base_path %}
{% include sidebar.html %}

{% capture written_ResearchTag %}'None'{% endcapture %}

{% for post in site.portfolio %}
  {% capture ResearchTag %}{{ post.ResearchTag }}{% endcapture %}
  {% if ResearchTag != written_ResearchTag %}
    <h1 id="{{ ResearchTag | slugify }}" class="page__title">{{ ResearchTag }}</h1>
    {% capture written_ResearchTag %}{{ ResearchTag }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
