{% include base_path %}

<div class="footer-flex">
  <div class="body-social-links">
    {% if author.email %}
      <a href="mailto:{{ author.email }}">
        <img src="/images/icons/email.svg" alt="Email" class="icon-light icon-pad-right" style="height:36px;">
        <img src="/images/icons/email_d.svg" alt="Email" class="icon-dark icon-pad-right" style="height:36px;">
     </a>
    {% endif %}
    {% if author.googlescholar %}
      <a href="{{ author.googlescholar }}">
        <img src="/images/icons/google-scholar.svg" alt="Google Scholar" class="icon-light icon-pad-right" style="height:36px;">
        <img src="/images/icons/google-scholar_d.svg" alt="Google Scholar" class="icon-dark icon-pad-right" style="height:36px;">
      </a>
    {% endif %}
    {% if author.orcid %}
      <a href="{{ author.orcid }}">
        <img src="/images/icons/orcid.svg" alt="ORCID" class="icon-light icon-pad-right" style="height:36px;">
        <img src="/images/icons/orcid_d.svg" alt="ORCID" class="icon-dark icon-pad-right" style="height:36px;">
      </a>
    {% endif %}
    {% if author.researchgate %}
      <a href="{{ author.researchgate }}">
        <img src="/images/icons/researchgate.svg" alt="ResearchGate" class="icon-light icon-pad-right" style="height:36px;">
        <img src="/images/icons/researchgate_d.svg" alt="ResearchGate" class="icon-dark icon-pad-right" style="height:36px;">
      </a>
    {% endif %}

    {% if author.linkedin %}
      <a href="https://www.linkedin.com/in/{{ author.linkedin }}">
        <img src="/images/icons/linkedin.svg" alt="LinkedIn" class="icon-light icon-pad-right" style="height:36px;">
        <img src="/images/icons/linkedin_d.svg" alt="LinkedIn" class="icon-dark icon-pad-right" style="height:36px;">
      </a>
    {% endif %}
    {% if author.CV %}
      <a href="{{ author.CV }}">
        <img src="/images/icons/cv.svg" alt="CV" class="icon-light icon-pad-right" style="height:36px;">
        <img src="/images/icons/cv_d.svg" alt="CV" class="icon-dark icon-pad-right" style="height:36px;">
      </a>
    {% endif %}
  </div>
  
  <div class="page__footer-copyright">
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} 
    <a href="https://github.com/academicpages/academicpages.github.io">AcademicPages</a>.<br />
    Last updated {{ "now" | date: '%Y-%m-%d' }}
  </div>
</div>


{% comment %}
<!-- 
  {% if author.scopus %}
    <a href="{{ author.scopus }}">
      <img src="/images/icons/scopus.svg" alt="Scopus" class="icon-light icon-pad-right" style="height:36px;">
      <img src="/images/icons/scopus_d.svg" alt="Scopus" class="icon-dark icon-pad-right" style="height:36px;">
    </a>
  {% endif %}
  -->
{% endcomment %}