---
layout: default
---

{% include base_path %}

{% if page.bg_image %}
  {% capture bg_filter_style %}rgba(0, 0, 0, {{ page.bg_filter | default: 0.5 }}){% endcapture %}
  <div id="main" role="main" style="background-image: linear-gradient({{ bg_filter_style }}, {{ bg_filter_style }}), url('{{ page.bg_image }}'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;">
{% else %}
  <div id="main" role="main">
{% endif %}
  <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}   
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <section class="page__content" itemprop="text">
      {{ content }}
    </section>
  </article>
</div>
